.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    padding: 24px;
    position: relative;
}

.content-description {
    flex: 1 4 40%;
    max-width: 600px;
}

.content img {
    flex: 1 1 60%;
    max-width: 600px;
    min-width: 240px;
}

.floating {
    border-radius: 5px;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    padding: 24px;
    margin-top: 36px;
}

.floating > h3 {
    margin: 0px 0px 8px 0px;
}

.floating-content {
    display: flex;
    gap: 16px;
}

.input-date {
    box-sizing: border-box;
    padding: 12px;
}

.select-time {
    box-sizing: border-box;
    padding: 12px;
}

.btn-submit {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    border-radius: 6px;
    font-weight: 700;
    padding: 12px;
}

.btn-submit:hover {
    background-color: #3072dd;
}